//COLORS
$selection: #E3D4C1;
$color-primary: #EFEFEF;
$color-primary-light: #EAE5E1;
$color-primary-dark: #343645;

$color-secondary-light: #F6E7E2;
$color-secondary-dark: #B4A4A4;

$color-grey-dark: #ACB1B5;


$color-white: #fff;
$color-black: #000;


// FONT

$Etelka: 'Etelka Light Pro', sans-serif;

$regular: 400;
$semibold: 600;
$light: 300;
$black: 900;

$default-font-size: 1.6rem;
